@page
@model MagicLand_System_Web.Pages.ClassModel
@{
}
<div class="text-center">
    <h4 class="display-3"><b>Tạo class trực tiếp</b></h4>
    <div class="form-group">
        <label for="quantity">Nhập số lượng </label>
        <input type="text" id="quantity" name="">
        <button type="submit">Xử lý</button>
    </div>
</div>
