@page
@model MagicLand_System_Web.Pages.ClassModel
@{
    ViewData["Title"] = "Class";
    var Message = ViewData["Message"]?.ToString();
}

<section class="body-class" style="height: 500px;">
    <div class="text-center">
        <h6 class="display-3" style="font-weight: bold; font-size: 30px"><b>Tạo Nhiều Lớp Học Thuộc Ngẫu Nhiên Các Khóa Học</b></h6>
        @if (!string.IsNullOrEmpty(Message))
        {
            <div class="alert alert-warning">
                @Message
            </div>
        }

        <div class="form-group">
            <form method="post">
                <label for="inputField">Nhập Số Lương: </label>
                <input type="text" id="inputField" name="inputField" />
                <button type="submit" style="background-color: white; color: black">Xử Lý</button>
            </form>
        </div>

        @if (Model.messages != null && Model.messages.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Thứ Tự
                        </th>
                        <th>
                            Thuộc Khóa
                        </th>
                        <th>
                            Trạng Thái
                        </th>
                        <th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.messages)
                    {
                        <tr>
                            <td>
                                @item.Item1
                            </td>
                            <td>
                                @item.Item2
                            </td>
                            <td>
                                @item.Item3
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>
